*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.input-group{
    position: relative;

}
.input-group_input{
    font: inherit;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius:4px ;
    outline: 2px solid #fff;
    background-color: transparent;
    transition: outline-color 500ms;
}

.input-group_input:is(:focus, :valid){
    outline-color:#3897f0 !important;
}
body{
    background-image: url("images/bg.png");
    background-size: cover;
    margin: .8rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 50vh;
    width: 400px; 
    background-color: rgba(255, 255, 255, 0.823); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.015); 
    
    
}
