*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: .8rem;
}

.container{
    border: 2px black dotted;
    background-image: url("images/bg.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96vh;
}
