body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}
/* login section css */
.login-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-position: center;
  position: relative;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,50,0.8), rgba(0,0,50,0.8)) ,url('images/college-image.jpeg');
}

/* Your Login/Signup Form CSS Goes Here */
.form-box{
  width: 90%;
  max-width: 450px;
  max-height: max-content;
  top: 50%;
  left: 50%;
  background: #FFF;
  padding: 10px 60px 70px;
  text-align: center;
}
.form-box h1{
  font-size: 30px;
  margin-bottom: 10px;
  color: #3c00a0;
  position: relative;
}
.input-field{
  background: #eaeaea;
  margin: 13px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  transition: max-height 0.5s;
  overflow: hidden;
}
input{
  width: 100%;
  background: transparent;
  outline: none;
  border:none;
  padding: 18px 15px;
}
.input-field i{
  margin-left: 15px;
  color: #9999;
}
form p{
  text-align: left;
  font-size: 13px;
}
form p a{
  text-decoration: none;
  color: #3c00a0;
}
.btn-field{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-field button{
  flex-basis: 48%;
  background: #3c00a0;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.btn-field button a{
  color: #FFF;
  text-decoration: none;
}
.input-group{
  height: 380px;
}
.btn-field button.disable{
  background: #eaeaea;
  color: #3c00a0;
}

/* Second Section: About Us */
.about-us-section {
  padding: 40px;
  height: 100vh;
  color: #252b60;
  background: #dfe2ff;
}
.about-us-section{
  height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: justify;
  background-position: center;
  position: relative;
  background-size: cover;
}
.about-box{
  max-width: 450px;
  background: #FFF;
  padding: 30px 60px 50px;
  box-shadow: 8px 8px 20px rgb(128, 128, 128);
  text-align: justify;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1rem;
}
.heading h1{
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
p .para{
  text-align: justify;
  font-size: 1rem;
}
/* Third Section: Contact Us */
.contact-section {
  height: 100vh;
  padding: 40px;
  color: #000;
  background: #9fa8fa7a;
}
.contact-section{
  height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-position: center;
  position: relative;
  background-size: cover;
}
.contact-section .contact-box{
  max-width: 450px;
  background: #fff;
  box-shadow: 8px 8px 20px rgb(128, 128, 128);
  padding: 30px 60px 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1rem;
}
.contact-section {
  text-align: center;
}

.contact-section h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #252b60;
}

.contact-section form {
  max-width: 600px;
  margin: auto;
}

.contact-section i {
  margin: 10px 0;
  color: #3c00a0;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #3c00a0;
}

.contact-section button {
  background: #3c00a0;
  padding: 10px 15px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.contact-section button:hover {
  background-color: #3a4cea;
}

/* Fourth Section: Privacy Policy */
.privacy-policy-section {
  height: 100vh;
  padding: 40px;
  color: #252b60;
  background: #dfe2ff;
}
.privacy-policy-section{
  height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-position: center;
  position: relative;
  background-size: cover;
}
.privacy-policy-section .privacy-box{
  max-width: 450px;
  padding: 30px 60px 50px;
  background: #fff;
  box-shadow: 8px 8px 20px rgb(128, 128, 128);
  text-align: justify;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1rem;
}
/* Fifth Section: FAQs */
.faqs-section {
  height: 100vh;
  padding: 40px;
  background-color: #9fa8fa7a;
  color: #252b60;
  text-align: justify;
}
h1 { 
  text-align: center; 
  font-family: "Roboto Slab", serif; 
  font-size: 40px; 
} 
.faqs-section ul{
  padding: 20px;
}
li { 
  text-align: justify;
  list-style: none; 
  margin-bottom: 6px; 
  padding: 10px; 
  border-bottom: 1px solid #252b60; 
} 

.question { 
  font-family: "Spartan", sans-serif; 
  font-size: 20px; 
  font-weight: 600; 
  margin-bottom: 6px; 
  position: relative; 
  color: #252b60; 
} 

.icon-main { 
  position: absolute; 
  right: 0px; 
  cursor: pointer; 
} 

.non-active { 
  display: none; 
} 

.answer { 
  font-size: 17px; 
  font-family: "Spartan", sans-serif; 
} 

/* Last Section: Footer */
.footer-section {
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  background-color:rgba(0, 0, 102, 0.674);
  color: #fff;
}
/* --------------------------Responsive CSS------------------------ */
@media only screen and (max-width: 600px) {
  /* css for login-section */
  .form-box {
    padding: 10px; 
  }

  .form-box h1 {
    font-size: 20px; 
  }

  .input-field i {
    margin-left: 8px; 
  }

  input {
    padding: 10px; 
  }

  form p {
    font-size: 11px; 
  }

  /* css for about-section */
  .about-box {
    width: 80%;
    background: #FFF;
    min-height: auto;
    padding: 12px 12px;  
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    text-align: justify;
    margin: 1rem 0; 
  }
  
  .heading h1 {
    line-height: 10px;
    font-size: 1.5rem;
  }
  
  p .para {
    font-size: 1rem; 
    text-align: justify;
  }
  /* css for contact-section */
  .contact-section {
    padding: 20px;
  }

  .contact-section .contact-box {
    width: 80%;
    background: #FFF;
    min-height: auto;
    padding: 12px 12px; 
    box-shadow: 8px 8px 20px rgb(128, 128, 128);
    text-align: justify;
    margin: 1rem 0;
  }
  .contact-section input,
.contact-section textarea {
  width: 80%;
  display: block;
  text-align: justify;
}
  .contact-section h2 {
    font-size: 1.5rem;
  }
  /* css for privacy-policy section */
  .privacy-policy-section .privacy-box {
    width: 80%;
    min-height: auto;
    padding: 12px 12px; 
    text-align: justify;
    margin: 1rem 0;
  }
  
  .heading h1 {
    line-height: 10px;
    font-size: 1.5rem; 
  }
  
  p .para {
    font-size: 1rem; 
    text-align: justify;
  }
}
